<footer class="site-footer sticky-footer">
  <div class="container-fluid">

    <p class="copyright pull-left">
      {{ site.html_title }}
      &copy; {{ site.time | date: '%Y' }}
    </p>

    <ul class="footer-social pull-right list-inline">
      {% for social in site.social %}
        <li><a href="{{ social[1] }}" target="_blank"
          title="{{ social[0] | capitalize }}">
          <i class="fa fa-{{ social[0] }}"></i>
          <span class="sr-only">{{ social[0] | capitalize }}</span>
        </a></li>
      {% endfor %}
      <li><a href="mailto:{{ site.email }}" title="Email">
        <i class="fa fa-envelope"></i>
        <span class="sr-only">{{ site.email }}</span>
      </a></li>
    </ul>

  </div>
</footer>
