---
layout: page
---

<div class="row">
  <div class="col-md-8">
    {{ content }}
    <hr>
    <small>
      <ul class="list-inline">
        <li class="text-muted">Posted in:</li>
      {% for category in page.categories %}
        {% include category.html category=category %}
      {% endfor %}
      </ul>
    </small>

    <a class="muut" href="https://muut.com/i/lyosha/comments" type="dynamic">lyosha forum</a> <script src="//cdn.muut.com/1/moot.min.js"></script>
  </div>
  <div class="col-md-4">
    {% include sidebar.html %}
  </div>
</div>
